
<img [src]="profile?.image.url" class="rounded float-left" alt="">
<p id="name"><strong>Name: </strong>{{profile?.name}}</p>
<p id="fullName"><strong>Full Name: </strong>{{profile?.biography['full-name']}}</p>
<p id="alterEgo"><strong>Alter Egos: </strong>{{profile?.biography['alter-egos']}}</p>
<p id="birthPlace"><strong>Birth place: </strong>{{profile?.biography['place-of-birth']}}</p>
<p id="firstAppearance"><strong>First Appearance: </strong>{{profile?.biography['first-appearance']}}</p>
<p id="alignment"><strong>Alignment: </strong>{{profile?.biography['alignment']}}</p>
<p id="gender"><strong>Gender: </strong>{{profile?.appearance['gender']}}</p>
<p id="race"><strong>Race: </strong>{{profile?.appearance['race']}}</p>
<p id="work"><strong>Work: </strong>{{profile?.work['occupation']}}</p>
